:root {
  --application-primary-color: #ffa021;
  --application-secondary-color: #ffdfb6;
  --application-tertiary-color: #8a8a8a;
  --application-primary-background-color: #ffffff;
  --application-secondary-background-color: #f6f6f6;
  --application-text-color: #2e313d;
  --application-error-color: #FF0038;
  --application-remove-button-color: #fdb5b8;
  --application-border-radius: 5px;
}